
.grid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

@media screen and (max-width: 600px) {

    .grid2 {
        display: flex;
        flex-direction: column;
    }
}

